header, #footer {
    background-color: #1f2937;
    color: white;
    padding: 16px 200px;

}

header {
    display: flex;
    flex-direction: column;


}

#header-content {
    display: flex;
    padding: 7em 0 7em;
    flex-basis: 0;
}

#header-info {
    flex: 1;
}

#header-img {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
}

#hero-secondary, li {
    font-size: 18px;
    color: #E5E7EB;
}

#header-btn {
    background-color: #3882F6;
    color: white;
}



ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;

}


body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


#logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

#nav {
    display: flex;
    justify-content: space-between;
}


